<!DOCTYPE html>
<html>
	<title>Je vous souhaite la bienvenue</title>
<body>
<h1>Mon premier appli facebook :)</h1>
<div id="status"></div>


<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>


<script src="/js/jquery.js"></script>
<script src="/js/firstScript.js"></script>
</body>
</html>
